::-moz-selection {
  -moz-user-select: none;
       user-select: none;
}

::selection {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  height: 98vh;
  overflow: hidden;
  background: #8E2DE2;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#4A00E0), to(#8E2DE2));
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

body > * {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.calculator {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-filter: drop-shadow(1px 3px 16px rgba(0, 0, 0, 0.527));
          filter: drop-shadow(1px 3px 16px rgba(0, 0, 0, 0.527));
}

.calculator .navbar {
  width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.calculator .navbar .phoneStatus {
  display: inline;
}

.calculator .navbar #time {
  display: inline;
  padding-left: 10px;
}

.calculator .error {
  color: red !important;
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

.calculator #button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 390px;
  border-radius: 20px;
  border: solid #eeeeee;
}

.calculator #button-container > div {
  width: 40px;
  height: 40px;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  margin: 8px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.calculator #button-container > div:hover {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.calculator #button-container .button-white {
  background: #eeeeee;
  -webkit-box-shadow: 11px 11px 28px rgba(227, 227, 227, 0.9), -11px -11px 22px rgba(255, 255, 255, 0.9), 11px -11px 22px rgba(227, 227, 227, 0.2), -11px 11px 22px rgba(227, 227, 227, 0.2), inset -1px -1px 2px rgba(227, 227, 227, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
          box-shadow: 11px 11px 28px rgba(227, 227, 227, 0.9), -11px -11px 22px rgba(255, 255, 255, 0.9), 11px -11px 22px rgba(227, 227, 227, 0.2), -11px 11px 22px rgba(227, 227, 227, 0.2), inset -1px -1px 2px rgba(227, 227, 227, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 11px;
}

.calculator #button-container .button-white:hover {
  background: #EEEEEE;
  -webkit-box-shadow: -1px -1px 2px rgba(214, 214, 214, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.3), inset 5px 5px 13px rgba(214, 214, 214, 0.9), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px -5px 10px rgba(214, 214, 214, 0.2), inset -5px 5px 10px rgba(214, 214, 214, 0.2);
          box-shadow: -1px -1px 2px rgba(214, 214, 214, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.3), inset 5px 5px 13px rgba(214, 214, 214, 0.9), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px -5px 10px rgba(214, 214, 214, 0.2), inset -5px 5px 10px rgba(214, 214, 214, 0.2);
  border-radius: 11px;
}

.calculator #button-container .button-black {
  background: #222;
  -webkit-box-shadow: 4px 4px 10px rgba(198, 198, 198, 0.9), -4px -4px 8px rgba(255, 255, 255, 0.9), 4px -4px 8px rgba(198, 198, 198, 0.2), -4px 4px 8px rgba(198, 198, 198, 0.2), inset -1px -1px 2px rgba(198, 198, 198, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
          box-shadow: 4px 4px 10px rgba(198, 198, 198, 0.9), -4px -4px 8px rgba(255, 255, 255, 0.9), 4px -4px 8px rgba(198, 198, 198, 0.2), -4px 4px 8px rgba(198, 198, 198, 0.2), inset -1px -1px 2px rgba(198, 198, 198, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 11px;
  color: #fff;
}

.calculator #button-container .button-black:hover {
  background: #444444;
  -webkit-box-shadow: -1px -1px 2px rgba(61, 61, 61, 0.5), 1px 1px 2px rgba(75, 75, 75, 0.3), inset 5px 5px 13px #000000, inset -5px -5px 10px rgba(75, 75, 75, 0.9), inset 5px -5px 10px rgba(61, 61, 61, 0.2), inset -5px 5px 10px rgba(61, 61, 61, 0.2);
          box-shadow: -1px -1px 2px rgba(61, 61, 61, 0.5), 1px 1px 2px rgba(75, 75, 75, 0.3), inset 5px 5px 13px #000000, inset -5px -5px 10px rgba(75, 75, 75, 0.9), inset 5px -5px 10px rgba(61, 61, 61, 0.2), inset -5px 5px 10px rgba(61, 61, 61, 0.2);
  border-radius: 11px;
}

.calculator #button-container .button-blue {
  background: #27a4ff;
  -webkit-box-shadow: -11px 11px 28px rgba(217, 217, 217, 0.9), 11px -11px 22px rgba(255, 255, 255, 0.9), -11px -11px 22px rgba(217, 217, 217, 0.2), 11px 11px 22px rgba(217, 217, 217, 0.2);
          box-shadow: -11px 11px 28px rgba(217, 217, 217, 0.9), 11px -11px 22px rgba(255, 255, 255, 0.9), -11px -11px 22px rgba(217, 217, 217, 0.2), 11px 11px 22px rgba(217, 217, 217, 0.2);
  border-radius: 11px;
  color: #fff;
}

.calculator #button-container .button-blue:hover {
  background: #27A4FF;
  -webkit-box-shadow: -1px -1px 2px rgba(35, 148, 230, 0.5), 1px 1px 2px rgba(43, 180, 255, 0.3), inset 5px 5px 13px rgba(35, 148, 230, 0.9), inset -5px -5px 10px rgba(43, 180, 255, 0.9), inset 5px -5px 10px rgba(35, 148, 230, 0.2), inset -5px 5px 10px rgba(35, 148, 230, 0.2);
          box-shadow: -1px -1px 2px rgba(35, 148, 230, 0.5), 1px 1px 2px rgba(43, 180, 255, 0.3), inset 5px 5px 13px rgba(35, 148, 230, 0.9), inset -5px -5px 10px rgba(43, 180, 255, 0.9), inset 5px -5px 10px rgba(35, 148, 230, 0.2), inset -5px 5px 10px rgba(35, 148, 230, 0.2);
  border-radius: 11px;
}

.calculator #button-container .clicked {
  background: #EEEEEE;
  -webkit-box-shadow: -1px -1px 2px rgba(214, 214, 214, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.3), inset 5px 5px 13px rgba(214, 214, 214, 0.9), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px -5px 10px rgba(214, 214, 214, 0.2), inset -5px 5px 10px rgba(214, 214, 214, 0.2);
          box-shadow: -1px -1px 2px rgba(214, 214, 214, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.3), inset 5px 5px 13px rgba(214, 214, 214, 0.9), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px -5px 10px rgba(214, 214, 214, 0.2), inset -5px 5px 10px rgba(214, 214, 214, 0.2);
  border-radius: 11px;
}

.calculator .resultBox {
  width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 250px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  border-radius: 20px;
}

.calculator .resultBox > div {
  margin-left: 15px;
  margin-right: 15px;
}

.calculator .resultBox .contentEditable {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 67px;
  color: #27a4ff;
}

.calculator .resultBox .currentStack, .calculator .resultBox .currentOperator {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 67px;
  color: #000;
}

.calculator .resultBox .currentOperator {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 10px;
  margin: 8px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  text-align: center;
  background-color: #eeeeee;
  border-radius: 10px;
}

.linkBar {
  width: 100%;
  margin: 20px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.linkBar .downloadLinks {
  text-decoration: none;
  text-align: center;
  padding: 7px;
  background-color: #fff;
  font-size: 15px;
  border-radius: 7px;
  color: #8E2DE2;
  font-weight: 600;
  border: 2px solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 5px;
}

.linkBar .downloadLinks:hover {
  background-color: rgba(0, 0, 0, 0.123);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: solid white 2px;
}

.linkBar .downloadLinks .smallicon {
  height: 14px;
  padding-left: 5px;
}

.linkBar .downloadLinks img.smallicon {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  height: 14px;
}

.linkBar .downloadLinks .fa-github {
  color: black;
  font-size: 18px;
  vertical-align: text-top;
  text-align: center;
  text-decoration: none;
  padding-left: 5px;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.linkBar .downloadLinks:hover .fa-github {
  color: white;
}

.ProfilePhoto {
  display: inline-block;
  position: fixed;
  top: 30px;
  left: 30px;
}

.ProfilePhoto:hover .socialHandles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: 0.3s;
          transform: 0.3s;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.ProfilePhoto:hover img {
  border: 5px #ffee00 solid;
  -webkit-transition: 0.17s;
  transition: 0.17s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.ProfilePhoto img {
  -webkit-transition: 0.17s;
  transition: 0.17s;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  cursor: pointer;
  float: left;
  border: 5px solid transparent;
}

.ProfilePhoto .socialHandles {
  background-color: #fff;
  border-radius: 12px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 90px;
}

.ProfilePhoto .socialHandles::after {
  content: " ";
  position: absolute;
  top: 18%;
  right: 100%;
  /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

.ProfilePhoto .socialHandles div {
  padding: 10px;
}

.ProfilePhoto .socialHandles div > div {
  padding: 10px;
  width: 200px;
}

.ProfilePhoto .socialHandles .socialLinks {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.ProfilePhoto .socialHandles .fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 1px;
  border-radius: 50%;
  -webkit-transition: 0.17s;
  transition: 0.17s;
}

.ProfilePhoto .socialHandles .fa:hover {
  opacity: 0.7;
  -webkit-transition: 0.17s;
  transition: 0.17s;
}

.ProfilePhoto .socialHandles .fa-twitter {
  background: #55ACEE;
  color: white;
}

.ProfilePhoto .socialHandles .fa-linkedin {
  background: #007bb5;
  color: white;
}

.ProfilePhoto .socialHandles .fa-dribbble {
  background: #ea4c89;
  color: white;
}

.ProfilePhoto .socialHandles .fa-behance {
  background: #430297;
  color: white;
}

.ProfilePhoto .socialHandles .fa-instagram {
  background: #f40083;
  color: white;
}
/*# sourceMappingURL=style.css.map */