$calcWidth : 390px;

::selection{
    user-select: none;
}
body{
  height: 100vh;
  // background-color: #27a4ff;
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator{
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  // filter: drop-shadow(1px 3px 16px #0071c3);
  // filter: drop-shadow(1px 3px 16px #000);
  .navbar{
      width: $calcWidth;
      display: flex;
      justify-content: flex-end;
      .phoneStatus{
          display: inline;
      }
      #time{
          display: inline;
          padding-left: 10px;
      }
  }
  .error{
    color: red!important;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  #button-container {
    display: flex;
    justify-content: start;
    flex-flow: row wrap;
    width: $calcWidth;
    border-radius: 20px;
    border: solid #eeeeee;
    > div {
      width: 40px;
      height: 40px;
      font-size: 2.2rem;
      font-weight: 700;
      text-align: center;
      padding: 20px;
      margin: 8px;
      border-radius: 20px;
      cursor: pointer;
      transition-duration: 0.2s;
    }
    > div:hover {
      background-color: #ccc;
      transition-duration: 0.2s;
    }
    .button-white {
      background: #eeeeee;
      box-shadow: 11px 11px 28px rgba(227, 227, 227, 0.9),
        -11px -11px 22px rgba(255, 255, 255, 0.9),
        11px -11px 22px rgba(227, 227, 227, 0.2),
        -11px 11px 22px rgba(227, 227, 227, 0.2),
        inset -1px -1px 2px rgba(227, 227, 227, 0.5),
        inset 1px 1px 2px rgba(255, 255, 255, 0.3);
      border-radius: 11px;
    }
    .button-black {
      background: #000000;
      box-shadow: 4px 4px 10px rgba(198, 198, 198, 0.9),
        -4px -4px 8px rgba(255, 255, 255, 0.9),
        4px -4px 8px rgba(198, 198, 198, 0.2),
        -4px 4px 8px rgba(198, 198, 198, 0.2),
        inset -1px -1px 2px rgba(198, 198, 198, 0.5),
        inset 1px 1px 2px rgba(255, 255, 255, 0.3);
      border-radius: 11px;
      color: #fff;
    }
    .button-blue {
      background: #27a4ff;
      box-shadow: -11px 11px 28px rgba(217, 217, 217, 0.9),
        11px -11px 22px rgba(255, 255, 255, 0.9),
        -11px -11px 22px rgba(217, 217, 217, 0.2),
        11px 11px 22px rgba(217, 217, 217, 0.2);
      border-radius: 11px;
      color: #fff;
    }
    .buttonGroup {
    }
  }
  .resultBox{
      width:$calcWidth;
      display: flex;
      min-height: 250px;
      justify-content: flex-end;
      align-items: flex-end;
      flex-flow: column wrap;
      border-radius: 20px;
      // border: solid;
      >div{
          margin-left:15px;
          margin-right:15px;
      }
      .contentEditable{
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 55px;
          line-height: 67px;
          color: #27a4ff;
      }
      .currentStack, .currentOperator{
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 25px;
          line-height: 67px;
          color: #000;
      }
      .currentOperator{
          align-self: flex-start;
          padding: 10px;
          margin:8px;
          width:40px;
          display: flex;
          justify-content: center;
          align-items: center;
          height:40px;
          text-align: center;
          background-color: #eeeeee;
          border-radius: 10px;
      }
  }      
}
