$calcWidth : 390px;

::selection{
    user-select: none;
}
body{
  height: 98vh;  
  overflow: hidden;
  // background-color: #27a4ff;
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column wrap;
  >*{
    box-sizing: border-box !important;
  }
}
.calculator{
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  transform: scale(0.8);
  // filter: drop-shadow(1px 3px 16px #0071c3);
  filter: drop-shadow(1px 3px 16px rgba(0, 0, 0, 0.527));
  .navbar{
      width: $calcWidth;
      display: flex;
      justify-content: flex-end;
      .phoneStatus{
          display: inline;
      }
      #time{
          display: inline;
          padding-left: 10px;
      }
  }
  .error{
    color: red!important;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  #button-container {
    display: flex;
    justify-content: start;
    flex-flow: row wrap;
    width: $calcWidth;
    border-radius: 20px;
    border: solid #eeeeee;
    > div {
      width: 40px;
      height: 40px;
      font-size: 2.2rem;
      font-weight: 700;
      text-align: center;
      padding: 20px;
      margin: 8px;
      border-radius: 20px;
      cursor: pointer;
      transition-duration: 0.2s;
    }
    > div:hover {
      // background-color: #ccc;
      transition-duration: 0.2s;
    }
    .button-white {
      background: #eeeeee;
      box-shadow: 11px 11px 28px rgba(227, 227, 227, 0.9),
        -11px -11px 22px rgba(255, 255, 255, 0.9),
        11px -11px 22px rgba(227, 227, 227, 0.2),
        -11px 11px 22px rgba(227, 227, 227, 0.2),
        inset -1px -1px 2px rgba(227, 227, 227, 0.5),
        inset 1px 1px 2px rgba(255, 255, 255, 0.3);
      border-radius: 11px;
      &:hover{
        background: #EEEEEE;
        box-shadow: -1px -1px 2px rgba(214, 214, 214, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.3), inset 5px 5px 13px rgba(214, 214, 214, 0.9), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px -5px 10px rgba(214, 214, 214, 0.2), inset -5px 5px 10px rgba(214, 214, 214, 0.2);
        border-radius: 11px;
      }
    }
    .button-black {
      background: #222;
      box-shadow: 4px 4px 10px rgba(198, 198, 198, 0.9),
        -4px -4px 8px rgba(255, 255, 255, 0.9),
        4px -4px 8px rgba(198, 198, 198, 0.2),
        -4px 4px 8px rgba(198, 198, 198, 0.2),
        inset -1px -1px 2px rgba(198, 198, 198, 0.5),
        inset 1px 1px 2px rgba(255, 255, 255, 0.3);
      border-radius: 11px;
      color: #fff;
      &:hover{
        background: #444444;
        box-shadow: -1px -1px 2px rgba(61, 61, 61, 0.5), 1px 1px 2px rgba(75, 75, 75, 0.3), inset 5px 5px 13px #000000, inset -5px -5px 10px rgba(75, 75, 75, 0.9), inset 5px -5px 10px rgba(61, 61, 61, 0.2), inset -5px 5px 10px rgba(61, 61, 61, 0.2);
        border-radius: 11px;
      }
    }
    .button-blue {
      background: #27a4ff;
      box-shadow: -11px 11px 28px rgba(217, 217, 217, 0.9),
        11px -11px 22px rgba(255, 255, 255, 0.9),
        -11px -11px 22px rgba(217, 217, 217, 0.2),
        11px 11px 22px rgba(217, 217, 217, 0.2);
      border-radius: 11px;
      color: #fff;
      &:hover{
        background: #27A4FF;
        box-shadow: -1px -1px 2px rgba(35, 148, 230, 0.5), 1px 1px 2px rgba(43, 180, 255, 0.3), inset 5px 5px 13px rgba(35, 148, 230, 0.9), inset -5px -5px 10px rgba(43, 180, 255, 0.9), inset 5px -5px 10px rgba(35, 148, 230, 0.2), inset -5px 5px 10px rgba(35, 148, 230, 0.2);
        border-radius: 11px;
      }
    }
    .buttonGroup {
    }
    .clicked{
      background: #EEEEEE;
      box-shadow: -1px -1px 2px rgba(214, 214, 214, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.3), inset 5px 5px 13px rgba(214, 214, 214, 0.9), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px -5px 10px rgba(214, 214, 214, 0.2), inset -5px 5px 10px rgba(214, 214, 214, 0.2);
      border-radius: 11px;
    }
  }
  .resultBox{
      width:$calcWidth;
      display: flex;
      min-height: 250px;
      justify-content: flex-end;
      align-items: flex-end;
      flex-flow: column wrap;
      border-radius: 20px;
      // border: solid;
      >div{
          margin-left:15px;
          margin-right:15px;
      }
      .contentEditable{
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 55px;
          line-height: 67px;
          color: #27a4ff;
      }
      .currentStack, .currentOperator{
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 25px;
          line-height: 67px;
          color: #000;
      }
      .currentOperator{
          align-self: flex-start;
          padding: 10px;
          margin:8px;
          width:40px;
          display: flex;
          justify-content: center;
          align-items: center;
          height:40px;
          text-align: center;
          background-color: #eeeeee;
          border-radius: 10px;
      }
  }      
}

.linkBar{
  width:100%;
  margin:20px 0px 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  .downloadLinks{
    text-decoration: none;
    text-align: center;
    padding: 7px;
    background-color: #fff;
    font-size: 15px;
    border-radius: 7px;
    color:#8E2DE2;
    font-weight: 600;
    border: 2px solid transparent;
    transition: 0.2s;
    margin: 5px;
    &:hover{
      // background-color: rgb(41, 41, 41);
      background-color: rgba(0, 0, 0, 0.123);
      color: white;
      transition: 0.2s;
      border:solid white 2px;
    }
    .smallicon{
      height: 14px;
      padding-left: 5px;
    }
    img.smallicon{
      transform: translateY(2px);
      height: 14px;
    }
    .fa-github{
      color: black;
      font-size: 18px;
      vertical-align: text-top;
      text-align: center;
      text-decoration: none;
      // margin: 4px 1px;
      padding-left: 5px;
      border-radius: 50%;
      transition: 0.2s;
    }
    &:hover .fa-github{
      color: white;
    }
  }
}
.ProfilePhoto{
  display:inline-block;
  position: fixed;
  top:30px;
  left: 30px;
  &:hover .socialHandles{
    display: flex;
    transform: 0.3s;
    transform: translateX(0px);
  }
  &:hover img{
    border: 5px rgb(255, 238, 0) solid;
    transition: 0.17s;
    transform: scale(0.9);
    transform-origin: 50% 50%;
  }
  img{
    transition: 0.17s;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    cursor: pointer;
    float: left;
    border: 5px solid transparent;
  }
  .socialHandles{
    background-color: #fff;
    border-radius: 12px;
    // padding: 10px;
    display: none;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 90px;
    &::after{
      content: " ";
      position: absolute;
      top: 18%;
      right: 100%; /* To the left of the tooltip */
      margin-top: -5px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent white transparent transparent;
    }
    div{
      padding: 10px;
      // flex-flow: column wrap;
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
    div>div{
      padding: 10px;
      width:200px
    }
    .socialLinks{
      align-self: center;
      transform: translateY(-15px);
    }
    .fa {
      padding: 10px;
      font-size: 20px;
      width: 20px;
      text-align: center;
      text-decoration: none;
      margin: 4px 1px;
      border-radius: 50%;
      transition: 0.17s;
    }  
    .fa:hover {
        opacity: 0.7;
        transition: 0.17s;
    }
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    .fa-dribbble {
      background: #ea4c89;
      color: white;
    }  
    .fa-behance {
      background: #430297;
      color: white;
    }
    .fa-instagram {
      background: #f40083;
      color: white;
    }
  }
}