body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}
.container{
    height:700px;
    width:400px;
    border:1px solid grey;
    border-radius:15px;
}
.output{
    height:35%;   
    width:inherit;
    border:1px solid grey;
    border-radius: 15px 15px 0px 0px;
    background-image: linear-gradient(-35deg, #020024 0%, #090979 35%, #00d4ff 100%);
}
.input{
    height:65%;
    width:inherit;
    border:1px solid grey;
    display:flex;
    flex-flow:row wrap;
    border-radius: 0px 0px 15px 15px;
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(-35deg, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-35deg, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* input */
.number, .operator, .expr{
    width:98px;
    /* border:solid 1px; */
    text-align: center;
    height:90px;
    color: rgb(59, 59, 59);
    font-size: 1.5rem;
    color: black;
    transition-duration: 0.2s;
}
.number h1, .expr h1, .operator, .active_operator h1{
    margin-top:4px;
    margin-left: 7.5px;
    /* border: solid 1px; */
    width: 80px;
    height:80px;
    border-radius: 50%;
    line-height: 75px;
    text-align: center;
    transition-duration: 0.2s;
}
.operator{
    margin-left: 15px;
    line-height: 90px;
    background-color: antiquewhite;
}
.input>div h1:hover, .operator:hover{
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}
.number h1:hover, .expr h1:hover{
    background-color: rgb(230, 230, 230);
}

.input>div:hover h1, .input>div:hover svg{
    animation: grow 0.3s forwards;
}

/* Output */
.active_operator{
    float: left;
    margin-top: 150px;
    border: solid 1px;
    height:90px;
}
.active_operator h1{
    border-radius: 50%;
    width:80px;
    height:80px;
    background-color: antiquewhite;
}
.result ,.expression{
    float: right;
    margin-right: 20px;
    border: solid 1px;
    padding: 0px 20px;
    border-radius: 10px;
    color: white;
}
.result{
    margin-top: 60px;
}
.expression{
    margin-top: 160px;
    margin-right: -75px;
    font-size: 1.2rem;
}


/* animations */
@keyframes grow{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}