html{
    height:100;
    overflow: hidden;
}

body{
    color:fff;
    margin:0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height:100%;
    overflow-y: scroll;
    overflow-x: "Luna";
}

header{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header h1{
    margin-top: -100px;
}

header, header:before{
    background: 50% 50% / cover;
}

header::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(10_21.jpg);
    background-size: cover;
    transform: translateZ(-1px) scale(2);
    transform-origin: 100% 50% 0;
    z-index: -1;
    /*min-height: 100vh;*/
}

header *{
    font-weight: normal ;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1;
}