// add font declaration
@import  url("https://fonts.googleapis.com/css?family=Product+Sans");
// MIXINS
@mixin dim($wid, $hei, $minwid:0px, $minhei:0px) {
    width: $wid;
    height: $hei;
}
@mixin transition($sec:0.3s) {
    transition: all $sec;
}
@mixin margin($top:0px, $right:0px, $bottom:0px, $left:0px) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}
@mixin padding($top:0px, $right:0px, $bottom:0px, $left:0px) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}
@mixin flex($dir:left, $jc:left, $ai:flex-start) {
    display: flex;
    flex-flow: $dir wrap;
    justify-content: $jc;
    align-items: $ai;
}
@mixin paragraph($fs: 1.65rem, $wt: 600){
    font-size: $fs;
    font-weight: $wt;
    color: white;
    letter-spacing: 1.2px;
}
@mixin heading($fs: 5rem, $wt: bold) {
    font-size: $fs;
    font-weight: $wt;
    color: white;
    letter-spacing: 3px;
}
@mixin outline($rad:5px, $wid:1px, $col:#acacac){
    border: $wid solid $col;
    border-radius: $rad;
    padding: 7px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Product Sans';
    vertical-align: middle;
    text-decoration: none;
    &::-webkit-scrollbar {
        // display: none;
        border-radius: 100px;
        width:15px;
        background: #1b1b1b;
    }
    // /* Track */
    // ::-webkit-scrollbar-track {
    // }
    ::-webkit-scrollbar-thumb {
        background: #ec0f0f;
        border-radius: 100px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(179, 0, 0);
        border-radius: 100px;
    }
}
body, html{
    overflow-x: hidden !important;
}
// html{
//     zoom: 75%;
// }
iframe{
    visibility: hidden;
    background: transparent;
    position: absolute;
    top:10000;
}
#onboarding{
    position: absolute;
    display: flex; //flex
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-width:100%; min-height:100%;
    overflow: hidden;
    transform-origin: center;
    
    &:after {
        content:'';
        position:absolute;
        left:0; top:0;
        width:100%; height:100%;
        display:inline-block;
        z-index: -1;
        background: rgb(0,0,0);
        background: -moz-linear-gradient(180deg, rgba(0,0,0,0.29864758403361347) 0%, rgba(0,0,0,0.7160145308123249) 100%);
        background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.29864758403361347) 0%, rgba(0,0,0,0.7160145308123249) 100%);
        background: linear-gradient(180deg, rgba(0,0,0,0.29864758403361347) 0%, rgba(0,0,0,0.7160145308123249) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    }
    >img{
        position: absolute; 
        margin: auto; 
        min-width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transform-origin: center;
        // background-attachment: fixed;
        filter:brightness(0.35) opacity(1) blur(0.5px);
        z-index: -100;
    }
    form{
        margin:40px;
        zoom: 60%;
        #searchKeyword{
            @include heading(12rem, bold);
            outline: none;
            background: transparent;
            border: none;
            border-bottom: solid 3.5px red;
            max-width:115vw;
            width:115vw;
            text-align: center;
            input[type="text"]{
                width:130vw;
                background: transparent;
                word-wrap: break-word;
                word-break: break-all;
                border: none;
                text-transform: capitalize;
                input:-webkit-autofill,
                input:-webkit-autofill:hover, 
                input:-webkit-autofill:focus, 
                input:-webkit-autofill:active  {
                -webkit-box-shadow: 0 0 0 30px white inset !important;
            }
}
        }
    }

    .search-results{
        width: 80vw;
        overflow: scroll;
        // opacity: 0;
        transition: visibility 0s, opacity 0.5s;
        @include paragraph();
        z-index: 1;
        visibility: visible;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        zoom: 60%;

        &::-webkit-scrollbar {
            display: none;
        }
        >img{ 
            position: absolute; 
            margin: auto; 
            min-width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            transform-origin: center;
        }
        .movie-card-wrapper{
            position: relative;
            margin: 25px;
            margin-bottom: 150px;
            @include transition();
            &:hover{
                transform: scale(1.035);
                @include transition();
            }
            .movie-card{
                width:300px;
                border-radius: 30px;
                cursor: pointer;
                display: flex;
                flex-flow: column;
                justify-content: flex-end;
                align-items: flex-end;
                img{
                    border-radius: 30px;
                    width:100%;
                    height: auto;
                    position: absolute;
                    left:0; top:0;
                    width:inherit; height:inherit;
                }
                &:hover :after{
                    content:'';
                    position:absolute;
                    left:0; top:0;
                    width:inherit; height:inherit;
                    display:inline-block;
                    border-radius: 30px;
                    z-index: -9;
                    background: rgb(0,0,0);
                    background: -moz-linear-gradient(0deg, rgba(0,0,0,0.8700761554621849) 0%, rgba(0,0,0,0.6151741946778712) 51%, rgba(0,0,0,0.8840817577030813) 100%);
                    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.8700761554621849) 0%, rgba(0,0,0,0.6151741946778712) 51%, rgba(0,0,0,0.8840817577030813) 100%);
                    background: linear-gradient(0deg, rgba(0,0,0,0.8700761554621849) 0%, rgba(0,0,0,0.6151741946778712) 51%, rgba(0,0,0,0.8840817577030813) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
                }
                .movie-card-details{
                    transition: visibility 0s, opacity 0.5s;
                    height: 440px;
                    width: inherit;
                    visibility: hidden;
                    opacity: 0;
                    z-index: 2;
                    padding-left: 10px;
                    .movie-name{
                        padding: 20px;
                        font-size: 4rem;
                    }
                    .movie-rating{
                        padding: 20px;
                        padding-top: 0px;
                        span{
                            border-bottom: solid 3px red;
                            padding: 5px 7px;
                            border-radius: 5px;
                            vertical-align: middle;
                            background: rgb(0, 0, 0);
                        }
                    }
                    .movie-language{
                        padding: 20px;
                        span{
                            text-transform: capitalize;
                            border-bottom: solid 3px red;
                            padding: 5px 7px;
                            border-radius: 5px;
                            vertical-align: middle;
                            background: rgb(0, 0, 0);
                        }
                    }
                    .movie-year{
                        padding: 20px;
                        padding-top: 0;
                    }
                }
                .movie-score{
                    padding: 20px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    flex-flow: column wrap;
                    align-items: center;
                    border-radius: 30px;
                    background: rgb(255,255,255);
                    background: -moz-linear-gradient(142deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 70%);
                    background: -webkit-linear-gradient(142deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 70%);
                    background: linear-gradient(142deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 70%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
                    span{
                        border-radius: 50%;
                        border: 5px solid rgb(83, 83, 83);
                        background-color: #00bd00;
                        @include dim(80px, 80px);
                        @include flex(center, center, center);
                    }
                }
                &:hover .movie-card-details{
                    visibility: visible;
                    transform: scale(1.045);
                    opacity: 1;
                    transition-duration: visibility 0s, opacity 0.5s;
                }
            }
        }
    }
}

.home-container{
    @include dim(100vw, 100vh);
    display: none;
    // display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow: hidden;

//     &:after {
//         content:'';
//         position:absolute;
//         left:0; top:0;
//         width:100%; height:100%;
//         display:inline-block;
//         z-index: -1;
//         background: rgb(236,236,236);
//         background: -moz-linear-gradient(180deg, rgba(236,236,236,0) 36%, rgba(0,0,0,0.5185355392156863) 100%);
//         background: -webkit-linear-gradient(180deg, rgba(236,236,236,0) 36%, rgba(0,0,0,0.5185355392156863) 100%);
//         background: linear-gradient(180deg, rgba(236,236,236,0) 36%, rgba(0,0,0,0.5185355392156863) 100%);
//         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ececec",endColorstr="#000000",GradientType=1);
//   }
    &:after {
        content:'';
        position:absolute;
        left:0; top:0;
        width:100%; height:100%;
        display:inline-block;
        z-index: -1;
        background: rgb(0,0,0);
        background: -moz-linear-gradient(180deg, rgba(0,0,0,0.29864758403361347) 0%, rgba(0,0,0,0.7160145308123249) 100%);
        background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.29864758403361347) 0%, rgba(0,0,0,0.7160145308123249) 100%);
        background: linear-gradient(180deg, rgba(0,0,0,0.29864758403361347) 0%, rgba(0,0,0,0.7160145308123249) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    }

    @media only screen and (max-aspect-ratio: 10/9){
        justify-content: flex-end;
    }
    @media only screen and (max-aspect-ratio: 16/9){
        justify-content: flex-end;
    }
    @media only screen and (min-aspect-ratio: 16/9){
        justify-content: flex-end;
    }
    .home-img-wrapper{
        position: fixed; 
        top: 0; 
        left: 0; 
          
        /* Preserve aspet ratio */
        min-width: 100%;
        height: 100%;
        z-index: -100;

        // img{
        //     position: absolute; 
        //     margin: auto; 
        //     min-width: 100%;
        //     height: 100%;
        //     background-repeat: no-repeat;
        //     background-size: cover;
        //     background-position: center center;
        //     transform-origin: center;
        //     // background-attachment: fixed;
        //     filter:brightness(0.15) opacity(1) blur(0.2px);
        //     z-index: -100;
        // }
        img{
            position: absolute; 
            margin: auto; 
            min-width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            transform-origin: center;
            // background-attachment: fixed;
            filter:brightness(0.35) opacity(1) blur(0.5px);
            z-index: -100;
        }
    }
    .current-movie-poster{
        display: none;
        @media only screen and (min-aspect-ratio: 16/9){
            display: block;
            max-width: 35vw;
            height: 100%;
            position: fixed;
            &:after {
                content:'';
                position:absolute;
                left:0; top:0;
                width:inherit; height:100%;
                display:inline-block;
                background: rgb(236,236,236);
                background: -moz-linear-gradient(90deg, rgba(236,236,236,0) 0%, rgba(0,0,0,0.6936055672268908) 100%);
                background: -webkit-linear-gradient(90deg, rgba(236,236,236,0) 0%, rgba(0,0,0,0.6936055672268908) 100%);
                background: linear-gradient(90deg, rgba(236,236,236,0) 0%, rgba(0,0,0,0.6936055672268908) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ececec",endColorstr="#000000",GradientType=1);            }       
        }
        @media only screen and (max-aspect-ratio: 16/9){
            height: 100%;
            display: block;
            position: absolute;
            z-index: -2;
            &:after {
                content:'';
                position:absolute;
                left:0; top:0;
                width:110%; height:100%;
                display:inline-block;
                background: rgb(236,236,236);
                background: -moz-linear-gradient(90deg, rgba(236,236,236,0) 0%, rgba(0,0,0,1) 100%);
                background: -webkit-linear-gradient(90deg, rgba(236,236,236,0) 0%, rgba(0,0,0,1) 100%);
                background: linear-gradient(90deg, rgba(236,236,236,0) 0%, rgba(0,0,0,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ececec",endColorstr="#000000",GradientType=1);
            }       
        }
        position: relative;
        left: 0;
        top:0;

        img{
            position: absolute fixed;
            height:100%;
            max-height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            filter: opacity(0.8);
        }
    }
    .current-movie-info{
        zoom:60%;
        // max-width: 100vw;
        width:65%;
        height: 160vh;
        overflow-y: scroll;
        justify-content: space-between;
        @include flex(row, center, center);
        @media only screen and (min-width:1249px){
            // max-width: 65vw;
            float: right;
        }
        @media only screen and (min-aspect-ratio: 9/9){
            // max-width: 65vw;
        }
        @media only screen and (max-aspect-ratio: 16/9){
            // max-width: 100vw;
        }
        @media only screen and (min-aspect-ratio: 16/9){
            // max-width: 65vw;
        }
        .goback-wrapper{
            width: 95%;
            margin-top: 80px;
            cursor: pointer;
            @include flex();
            .goback-to-search{
                color: white;
                border: 2px red solid;
                border-radius: 500px;
                padding: 20px;
                @include transition();
                @include paragraph();
                svg{
                    transform: scale(1.6);
                }
                p{
                    padding-left: 20px;
                    font-style: italic;
                    display: inline;
                }
                &:hover{
                    transform: scale(1.035);
                    @include transition();
                }
            }
        }
        #search-forms{
            form{
                margin:80px;
                margin-top:170px;
                zoom: 60%;
                display: flex;
                justify-content: center;
                input{
                    @include heading(12rem, bold);
                    outline: none;
                    background: transparent;
                    border: none;
                    border-bottom: solid 3.5px red;
                    max-width:115vw;
                    width:115vw;
                    text-align: center;
                    input[type="text"]{
                        width:130vw;
                        background: transparent;
                        word-wrap: break-word;
                        word-break: break-all;
                        border: none;
                        text-transform: capitalize;
                        input:-webkit-autofill,
                        input:-webkit-autofill:hover, 
                        input:-webkit-autofill:focus, 
                        input:-webkit-autofill:active  {
                        -webkit-box-shadow: 0 0 0 30px white inset !important;
                        }
                    }
                }
            }
            .search-bar{
                @include heading(9.5rem, bold);
                margin: 60px;
            }
        }
        .search-and-scroll-div{
            @include flex(column, center, center);
            margin-bottom: 250px;
            .search-chooser{
                @include flex(row);
                position: relative;
                cursor: pointer;
                >svg{
                    transform: scale(1.8) translateX(120px);
                    width: 75%;
                    position: absolute;
                    @include transition();
                }
                .search-chooser-background{
                    @include transition();
                    width: 100%;
                    border-radius: 500px;
                    background: black;
                    position: absolute;
                    height:100px;
                    transform: translateY(-24px);
                    // &:after{
                    //     content: '';
                    //     width:145px;
                    //     background: red;
                    //     height: 100px;
                    //     position: absolute;
                    //     border-radius: 400px;
                    // }
                }
                .google-searchafter:after{
                    @include transition();
                    content: '';
                    width:125px;
                    background: red;
                    height: 100px;
                    position: absolute;
                    border-radius: 400px;
                }
                .movies-searchafter:after{
                    @include transition();
                    content: '';
                    width:125px;
                    left:120px;
                    background: red;
                    height: 100px;
                    position: absolute;
                    border-radius: 400px;
                }
                .tv-searchafter:after{
                    @include transition();
                    content: '';
                    width:125px;
                    left: 250px;
                    background: red;
                    height: 100px;
                    position: absolute;
                    border-radius: 400px;
                }
                .collection-searchafter:after{
                    @include transition();
                    content: '';
                    width:125px;
                    left: 400px;
                    background: red;
                    height: 100px;
                    position: absolute;
                    border-radius: 400px;
                }
                .people-searchafter:after{
                    @include transition();
                    content: '';
                    width:125px;
                    left: 540px;
                    background: red;
                    height: 100px;
                    position: absolute;
                    border-radius: 400px;
                }
                .all-searchafter:after{
                    @include transition();
                    content: '';
                    width:660px;
                    left: 120px;
                    background: red;
                    height: 100px;
                    position: absolute;
                    border-radius: 400px;
                }
                .search-option{
                    @include transition();
                    @include flex(column, space-between, center);
                    @include paragraph();
                    min-width: 100px;
                    height: 140px;
                    margin:10px;
                    z-index: 10;
                    margin-top: 0;
                    svg{
                        @include transition();
                        transform: scale(1.7);
                        margin: 15px;
                    }
                    >div{
                        padding: 15px;
                        padding-top: 20px;
                    }
                }
            }
            .scroll-to-explore{
                // align-self: flex-end;
                // padding-right: 60px;
                @include flex(column, center, center);
                .scroll-to-explore-text{
                    margin-top: 20px;
                }
                @include paragraph();
                float: right;
                margin: 60px;
            }
        }
        .movie-details{
            @include paragraph();
            width:90%;
            height: 130vh;
            .movie-heading{
                @include flex(row, space-between, flex-end);
                .movie-left-heading{
                    
                    .movie-name{
                        @include heading();
                        margin: 30px;
                        span.movie-year{
                            font-size: 2.4rem;
                            vertical-align: baseline;
                        }
                    }
                    .movie-tagline{
                        @include paragraph();
                        font-style: italic;
                        margin: 30px;
                        margin-top: -20px;
                    }
                }
                .movie-right-rating{
                    
                    .movie-ratings-bar{
                        transform: scale(1.7);
                        width: fit-content;
                        margin: 30px;
                    }
                    .movie-ratings-score{
                        float:right;
                        margin-bottom: 30px;
                    }
                }
            }
            .movie-overview-bar{
                
                .movie-overview{
                    font-size: 4rem;
                    margin-left: 30px;
                }
                .movie-overview-descp{
                    margin: 30px;
                    width:70%;
                    line-height: 4rem;
                }
            }
            .movie-detailed-info{
                @include flex(row, space-between, flex-start);
                margin-top: 50px;
                .movie-detailed-info-left{
                    width:fit-content;
                    .movie-released-status{
                        margin-left: 30px;
                        .movie-released-date{
                            margin-left: 20px;
                        }
                    }
                    .user-score-text{
                        margin-left: 35px;
                        margin: 30px;
                    }   
                    .movie-user-score{
                        @include flex(row, space-between,center);
                        // @include dim(585px, fit-content);
                        @include dim(fit-content, fit-content);
                        @include transition();
                        background-color: black;
                        border-radius: 500px;
                        padding-right: 20px;
                        margin: 30px;
                        border: 2px solid grey;
                        cursor: pointer;
                        .movie-percentage{
                            border-radius: 50%;
                            border: 5px solid rgb(83, 83, 83);
                            background-color: #00bd00;
                            @include dim(80px, 80px);
                            @include flex(center, center, center);
                        }
                        .movie-reviews-count{
                            margin-left: 20px;
                            display: inline-block;
                            span img{
                                transform: translateY(-4px);
                            }
                        }
                        &:hover{
                            transform: scale(1.035);
                            @include transition();
                        }
                    }
                    .movie-trailer{
                        @include transition();
                        border: solid grey 3px;
                        padding-right: 30px;
                        border-radius: 10px;
                        margin-left: 30px;
                        width: fit-content;
                        cursor: pointer;
                        video{
                            margin: 0;
                            margin-right: 30px;
                        }
                        &:hover{
                            transform: scale(1.015);
                            @include transition();
                        }
                    }
                }
                .movie-detailed-info-right{
                    width: fit-content;
                    margin-right: 160px;
                    margin-left: 20px;
                    >div{
                        margin: 15px;
                    }
                    .movie-watchtime{
                        
                    }
                    .movie-genre{
                        
                    }
                    .movie-language{
                        
                    }
                    .movie-adult{
                        margin-top: 18px;
                        .movie-adult-status{
                            border: solid 3px grey;
                            padding: 5px 7px;
                            border-radius: 5px;
                            vertical-align: middle;
                        }
                    }
                    .movie-posters{
                        margin-top: 58px;
                    }
                    .movie-posters-list{
                        
                        img{
                            cursor: pointer;
                            width: 160px;
                            background-size: cover;
                            border-radius: 10px;
                            margin-right: 10px;
                            @include transition();
                            &:hover{
                                transform: scale(1.05);
                                @include transition();
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom-bar-wrapper{
        position: absolute;
        bottom:0;
        left:35%;
        right:0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        .bottom-bar{
            @include flex();
            height: fit-content;
            width: 100%;
            flex-flow: column wrap;
            align-items: flex-end;
            justify-content: flex-end;
            z-index: 1;
            
            
            @media only screen and (min-width:1249px){
                justify-content: space-between;
                flex-flow: row wrap;
            }
            @media only screen and (min-aspect-ratio: 16/9){
                // float: right;
                right: 0;
                bottom:0;
                left:35%;
                .bottom-bar-left{
                    padding-left: 100px;
                }
            }
            @media only screen and (max-aspect-ratio: 16/9){
                // max-width: 100vw;
            }
            @media only screen and (min-aspect-ratio: 9/9){
             //   
            }

            background: rgb(236,236,236);
            background: -moz-linear-gradient(180deg, rgba(236,236,236,0) 0%, rgba(0,0,0,1) 61%);
            background: -webkit-linear-gradient(180deg, rgba(236,236,236,0) 0%, rgba(0,0,0,1) 61%);
            background: linear-gradient(180deg, rgba(236,236,236,0) 0%, rgba(0,0,0,1) 61%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ececec",endColorstr="#000000",GradientType=1);
            
            .bottom-bar-left{
                margin: 30px;
                order:2;
                @include flex();
                .see-on-imdb{
                    @include paragraph();
                    @include outline();
                    @include padding(14px, 26px, 11px, 12px);
                    @include dim(210px, 60px);
                    @include margin(20px, 30px, 20px, 0px);
                    @include transition();
                    display: inline-block;
                    cursor: pointer;
                    svg{
                        float: right;
                        transform: scale(1.7) translateX(10px) translateY(-2px);
                        &:hover{
                            
                        }
                    }
                    &:hover{
                        background-color: black;
                        transform: scale(1.035);
                        @include transition();
                    }
                }
                .see-on-home{
                    cursor: pointer;
                    @include paragraph();
                    @include outline();
                    @include padding(14px, -10px, 14px, 12px);
                    @include dim(270px, 60px);
                    @include margin(20px, 40px, 20px, 0px);
                    @include transition();
                    svg{
                        transform: scale(1.5) translateX(5px);
                    }
                    &.see-on-netflix svg:hover{
                        fill: white !important;
                    }
                    &:hover{
                        background-color: black;
                        transform: scale(1.035);
                        @include transition();
                    }
                }
                .see-on-netflix{
                    cursor: pointer;
                    @include paragraph();
                    @include outline();
                    @include padding(14px, -10px, 14px, 12px);
                    @include dim(220px, 60px);
                    @include margin(20px, 40px, 20px, 0px);
                    @include transition();
                    svg{
                        transform: scale(1.7) translateX(13px);
                    }
                    &.see-on-netflix svg:hover{
                        fill: white !important;
                    }
                    &:hover{
                        background-color: black;
                        transform: scale(1.035);
                        @include transition();
                    }
                }
            }
            .bottom-bar-right{
                @include flex(right, right,flex-end);
                flex-flow: column wrap;
                margin: 30px;
                @media only screen and (min-width:1249px){
                    margin-right: 100px;
                    order: 2;
                }
                .current-time{
                    @include heading(5rem, normal);
                    margin-bottom: 10px;
                    letter-spacing: normal;
                }
                .expected-watching-time{
                    @include paragraph();
                    text-align-last: right;
                    line-height: 3rem;
                    span{
                        display: block;
                        color: rgb(245, 228, 0);
                        p{display: inline;}
                    }
                }
            }
        }
    }
    .contribute-on-github{
        position: absolute;
        top:20px;
        left:20px;
    }
}