@import url("https://fonts.googleapis.com/css?family=Product+Sans");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Product Sans';
  vertical-align: middle;
  text-decoration: none;
}

*::-webkit-scrollbar {
  border-radius: 100px;
  width: 15px;
  background: #1b1b1b;
}

* ::-webkit-scrollbar-thumb {
  background: #ec0f0f;
  border-radius: 100px;
}

* ::-webkit-scrollbar-thumb:hover {
  background: #b30000;
  border-radius: 100px;
}

body, html {
  overflow-x: hidden !important;
}

iframe {
  visibility: hidden;
  background: transparent;
  position: absolute;
  top: 10000;
}

#onboarding {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#onboarding:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: -1;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.298648)), to(rgba(0, 0, 0, 0.716015)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.298648) 0%, rgba(0, 0, 0, 0.716015) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

#onboarding > img {
  position: absolute;
  margin: auto;
  min-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-filter: brightness(0.35) opacity(1) blur(0.5px);
          filter: brightness(0.35) opacity(1) blur(0.5px);
  z-index: -100;
}

#onboarding form {
  margin: 40px;
  zoom: 60%;
}

#onboarding form #searchKeyword {
  font-size: 12rem;
  font-weight: bold;
  color: white;
  letter-spacing: 3px;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: solid 3.5px red;
  max-width: 115vw;
  width: 115vw;
  text-align: center;
}

#onboarding form #searchKeyword input[type="text"] {
  width: 130vw;
  background: transparent;
  word-wrap: break-word;
  word-break: break-all;
  border: none;
  text-transform: capitalize;
}

#onboarding form #searchKeyword input[type="text"] input:-webkit-autofill,
#onboarding form #searchKeyword input[type="text"] input:-webkit-autofill:hover,
#onboarding form #searchKeyword input[type="text"] input:-webkit-autofill:focus,
#onboarding form #searchKeyword input[type="text"] input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

#onboarding .search-results {
  width: 80vw;
  overflow: scroll;
  -webkit-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s;
  font-size: 1.65rem;
  font-weight: 600;
  color: white;
  letter-spacing: 1.2px;
  z-index: 1;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  zoom: 60%;
}

#onboarding .search-results::-webkit-scrollbar {
  display: none;
}

#onboarding .search-results > img {
  position: absolute;
  margin: auto;
  min-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#onboarding .search-results .movie-card-wrapper {
  position: relative;
  margin: 25px;
  margin-bottom: 150px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#onboarding .search-results .movie-card-wrapper:hover {
  -webkit-transform: scale(1.035);
          transform: scale(1.035);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#onboarding .search-results .movie-card-wrapper .movie-card {
  width: 300px;
  border-radius: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#onboarding .search-results .movie-card-wrapper .movie-card img {
  border-radius: 30px;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
}

#onboarding .search-results .movie-card-wrapper .movie-card:hover :after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  display: inline-block;
  border-radius: 30px;
  z-index: -9;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.870076)), color-stop(51%, rgba(0, 0, 0, 0.615174)), to(rgba(0, 0, 0, 0.884082)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.870076) 0%, rgba(0, 0, 0, 0.615174) 51%, rgba(0, 0, 0, 0.884082) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

#onboarding .search-results .movie-card-wrapper .movie-card .movie-card-details {
  -webkit-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s;
  height: 440px;
  width: inherit;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  padding-left: 10px;
}

#onboarding .search-results .movie-card-wrapper .movie-card .movie-card-details .movie-name {
  padding: 20px;
  font-size: 4rem;
}

#onboarding .search-results .movie-card-wrapper .movie-card .movie-card-details .movie-rating {
  padding: 20px;
  padding-top: 0px;
}

#onboarding .search-results .movie-card-wrapper .movie-card .movie-card-details .movie-rating span {
  border-bottom: solid 3px red;
  padding: 5px 7px;
  border-radius: 5px;
  vertical-align: middle;
  background: black;
}

#onboarding .search-results .movie-card-wrapper .movie-card .movie-card-details .movie-language {
  padding: 20px;
}

#onboarding .search-results .movie-card-wrapper .movie-card .movie-card-details .movie-language span {
  text-transform: capitalize;
  border-bottom: solid 3px red;
  padding: 5px 7px;
  border-radius: 5px;
  vertical-align: middle;
  background: black;
}

#onboarding .search-results .movie-card-wrapper .movie-card .movie-card-details .movie-year {
  padding: 20px;
  padding-top: 0;
}

#onboarding .search-results .movie-card-wrapper .movie-card .movie-score {
  padding: 20px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  background: white;
  background: linear-gradient(142deg, rgba(255, 255, 255, 0) 0%, black 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}

#onboarding .search-results .movie-card-wrapper .movie-card .movie-score span {
  border-radius: 50%;
  border: 5px solid #535353;
  background-color: #00bd00;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: center wrap;
          flex-flow: center wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#onboarding .search-results .movie-card-wrapper .movie-card:hover .movie-card-details {
  visibility: visible;
  -webkit-transform: scale(1.045);
          transform: scale(1.045);
  opacity: 1;
  -webkit-transition-duration: visibility 0s, opacity 0.5s;
          transition-duration: visibility 0s, opacity 0.5s;
}

.home-container {
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.home-container:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: -1;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.298648)), to(rgba(0, 0, 0, 0.716015)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.298648) 0%, rgba(0, 0, 0, 0.716015) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

@media only screen and (max-aspect-ratio: 10 / 9) {
  .home-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media only screen and (max-aspect-ratio: 16 / 9) {
  .home-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media only screen and (min-aspect-ratio: 16 / 9) {
  .home-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.home-container .home-img-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  height: 100%;
  z-index: -100;
}

.home-container .home-img-wrapper img {
  position: absolute;
  margin: auto;
  min-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-filter: brightness(0.35) opacity(1) blur(0.5px);
          filter: brightness(0.35) opacity(1) blur(0.5px);
  z-index: -100;
}

.home-container .current-movie-poster {
  display: none;
  position: relative;
  left: 0;
  top: 0;
}

@media only screen and (min-aspect-ratio: 16 / 9) {
  .home-container .current-movie-poster {
    display: block;
    max-width: 35vw;
    height: 100%;
    position: fixed;
  }
  .home-container .current-movie-poster:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: 100%;
    display: inline-block;
    background: #ececec;
    background: -webkit-gradient(linear, left top, right top, from(rgba(236, 236, 236, 0)), to(rgba(0, 0, 0, 0.693606)));
    background: linear-gradient(90deg, rgba(236, 236, 236, 0) 0%, rgba(0, 0, 0, 0.693606) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ececec",endColorstr="#000000",GradientType=1);
  }
}

@media only screen and (max-aspect-ratio: 16 / 9) {
  .home-container .current-movie-poster {
    height: 100%;
    display: block;
    position: absolute;
    z-index: -2;
  }
  .home-container .current-movie-poster:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 110%;
    height: 100%;
    display: inline-block;
    background: #ececec;
    background: -webkit-gradient(linear, left top, right top, from(rgba(236, 236, 236, 0)), to(black));
    background: linear-gradient(90deg, rgba(236, 236, 236, 0) 0%, black 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ececec",endColorstr="#000000",GradientType=1);
  }
}

.home-container .current-movie-poster img {
  position: absolute fixed;
  height: 100%;
  max-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

.home-container .current-movie-info {
  zoom: 60%;
  width: 65%;
  height: 160vh;
  overflow-y: scroll;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1249px) {
  .home-container .current-movie-info {
    float: right;
  }
}

.home-container .current-movie-info .goback-wrapper {
  width: 95%;
  margin-top: 80px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: left wrap;
          flex-flow: left wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home-container .current-movie-info .goback-wrapper .goback-to-search {
  color: white;
  border: 2px red solid;
  border-radius: 500px;
  padding: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.65rem;
  font-weight: 600;
  color: white;
  letter-spacing: 1.2px;
}

.home-container .current-movie-info .goback-wrapper .goback-to-search svg {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.home-container .current-movie-info .goback-wrapper .goback-to-search p {
  padding-left: 20px;
  font-style: italic;
  display: inline;
}

.home-container .current-movie-info .goback-wrapper .goback-to-search:hover {
  -webkit-transform: scale(1.035);
          transform: scale(1.035);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-container .current-movie-info #search-forms form {
  margin: 80px;
  margin-top: 170px;
  zoom: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-container .current-movie-info #search-forms form input {
  font-size: 12rem;
  font-weight: bold;
  color: white;
  letter-spacing: 3px;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: solid 3.5px red;
  max-width: 115vw;
  width: 115vw;
  text-align: center;
}

.home-container .current-movie-info #search-forms form input input[type="text"] {
  width: 130vw;
  background: transparent;
  word-wrap: break-word;
  word-break: break-all;
  border: none;
  text-transform: capitalize;
}

.home-container .current-movie-info #search-forms form input input[type="text"] input:-webkit-autofill,
.home-container .current-movie-info #search-forms form input input[type="text"] input:-webkit-autofill:hover,
.home-container .current-movie-info #search-forms form input input[type="text"] input:-webkit-autofill:focus,
.home-container .current-movie-info #search-forms form input input[type="text"] input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.home-container .current-movie-info #search-forms .search-bar {
  font-size: 9.5rem;
  font-weight: bold;
  color: white;
  letter-spacing: 3px;
  margin: 60px;
}

.home-container .current-movie-info .search-and-scroll-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 250px;
}

.home-container .current-movie-info .search-and-scroll-div .search-chooser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  cursor: pointer;
}

.home-container .current-movie-info .search-and-scroll-div .search-chooser > svg {
  -webkit-transform: scale(1.8) translateX(120px);
          transform: scale(1.8) translateX(120px);
  width: 75%;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-container .current-movie-info .search-and-scroll-div .search-chooser .search-chooser-background {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  border-radius: 500px;
  background: black;
  position: absolute;
  height: 100px;
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}

.home-container .current-movie-info .search-and-scroll-div .search-chooser .google-searchafter:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: '';
  width: 125px;
  background: red;
  height: 100px;
  position: absolute;
  border-radius: 400px;
}

.home-container .current-movie-info .search-and-scroll-div .search-chooser .movies-searchafter:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: '';
  width: 125px;
  left: 120px;
  background: red;
  height: 100px;
  position: absolute;
  border-radius: 400px;
}

.home-container .current-movie-info .search-and-scroll-div .search-chooser .tv-searchafter:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: '';
  width: 125px;
  left: 250px;
  background: red;
  height: 100px;
  position: absolute;
  border-radius: 400px;
}

.home-container .current-movie-info .search-and-scroll-div .search-chooser .collection-searchafter:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: '';
  width: 125px;
  left: 400px;
  background: red;
  height: 100px;
  position: absolute;
  border-radius: 400px;
}

.home-container .current-movie-info .search-and-scroll-div .search-chooser .people-searchafter:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: '';
  width: 125px;
  left: 540px;
  background: red;
  height: 100px;
  position: absolute;
  border-radius: 400px;
}

.home-container .current-movie-info .search-and-scroll-div .search-chooser .all-searchafter:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: '';
  width: 660px;
  left: 120px;
  background: red;
  height: 100px;
  position: absolute;
  border-radius: 400px;
}

.home-container .current-movie-info .search-and-scroll-div .search-chooser .search-option {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.65rem;
  font-weight: 600;
  color: white;
  letter-spacing: 1.2px;
  min-width: 100px;
  height: 140px;
  margin: 10px;
  z-index: 10;
  margin-top: 0;
}

.home-container .current-movie-info .search-and-scroll-div .search-chooser .search-option svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  margin: 15px;
}

.home-container .current-movie-info .search-and-scroll-div .search-chooser .search-option > div {
  padding: 15px;
  padding-top: 20px;
}

.home-container .current-movie-info .search-and-scroll-div .scroll-to-explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.65rem;
  font-weight: 600;
  color: white;
  letter-spacing: 1.2px;
  float: right;
  margin: 60px;
}

.home-container .current-movie-info .search-and-scroll-div .scroll-to-explore .scroll-to-explore-text {
  margin-top: 20px;
}

.home-container .current-movie-info .movie-details {
  font-size: 1.65rem;
  font-weight: 600;
  color: white;
  letter-spacing: 1.2px;
  width: 90%;
  height: 130vh;
}

.home-container .current-movie-info .movie-details .movie-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home-container .current-movie-info .movie-details .movie-heading .movie-left-heading .movie-name {
  font-size: 5rem;
  font-weight: bold;
  color: white;
  letter-spacing: 3px;
  margin: 30px;
}

.home-container .current-movie-info .movie-details .movie-heading .movie-left-heading .movie-name span.movie-year {
  font-size: 2.4rem;
  vertical-align: baseline;
}

.home-container .current-movie-info .movie-details .movie-heading .movie-left-heading .movie-tagline {
  font-size: 1.65rem;
  font-weight: 600;
  color: white;
  letter-spacing: 1.2px;
  font-style: italic;
  margin: 30px;
  margin-top: -20px;
}

.home-container .current-movie-info .movie-details .movie-heading .movie-right-rating .movie-ratings-bar {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px;
}

.home-container .current-movie-info .movie-details .movie-heading .movie-right-rating .movie-ratings-score {
  float: right;
  margin-bottom: 30px;
}

.home-container .current-movie-info .movie-details .movie-overview-bar .movie-overview {
  font-size: 4rem;
  margin-left: 30px;
}

.home-container .current-movie-info .movie-details .movie-overview-bar .movie-overview-descp {
  margin: 30px;
  width: 70%;
  line-height: 4rem;
}

.home-container .current-movie-info .movie-details .movie-detailed-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-left {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-left .movie-released-status {
  margin-left: 30px;
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-left .movie-released-status .movie-released-date {
  margin-left: 20px;
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-left .user-score-text {
  margin-left: 35px;
  margin: 30px;
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-left .movie-user-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: black;
  border-radius: 500px;
  padding-right: 20px;
  margin: 30px;
  border: 2px solid grey;
  cursor: pointer;
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-left .movie-user-score .movie-percentage {
  border-radius: 50%;
  border: 5px solid #535353;
  background-color: #00bd00;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: center wrap;
          flex-flow: center wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-left .movie-user-score .movie-reviews-count {
  margin-left: 20px;
  display: inline-block;
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-left .movie-user-score .movie-reviews-count span img {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-left .movie-user-score:hover {
  -webkit-transform: scale(1.035);
          transform: scale(1.035);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-left .movie-trailer {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: solid grey 3px;
  padding-right: 30px;
  border-radius: 10px;
  margin-left: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-left .movie-trailer video {
  margin: 0;
  margin-right: 30px;
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-left .movie-trailer:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-right {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 160px;
  margin-left: 20px;
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-right > div {
  margin: 15px;
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-right .movie-adult {
  margin-top: 18px;
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-right .movie-adult .movie-adult-status {
  border: solid 3px grey;
  padding: 5px 7px;
  border-radius: 5px;
  vertical-align: middle;
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-right .movie-posters {
  margin-top: 58px;
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-right .movie-posters-list img {
  cursor: pointer;
  width: 160px;
  background-size: cover;
  border-radius: 10px;
  margin-right: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-container .current-movie-info .movie-details .movie-detailed-info .movie-detailed-info-right .movie-posters-list img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-container .bottom-bar-wrapper {
  position: absolute;
  bottom: 0;
  left: 35%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home-container .bottom-bar-wrapper .bottom-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: left wrap;
          flex-flow: left wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 1;
  background: #ececec;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 236, 236, 0)), color-stop(61%, black));
  background: linear-gradient(180deg, rgba(236, 236, 236, 0) 0%, black 61%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ececec",endColorstr="#000000",GradientType=1);
}

@media only screen and (min-width: 1249px) {
  .home-container .bottom-bar-wrapper .bottom-bar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

@media only screen and (min-aspect-ratio: 16 / 9) {
  .home-container .bottom-bar-wrapper .bottom-bar {
    right: 0;
    bottom: 0;
    left: 35%;
  }
  .home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-left {
    padding-left: 100px;
  }
}

.home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-left {
  margin: 30px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: left wrap;
          flex-flow: left wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-left .see-on-imdb {
  font-size: 1.65rem;
  font-weight: 600;
  color: white;
  letter-spacing: 1.2px;
  border: 1px solid #acacac;
  border-radius: 5px;
  padding: 7px;
  padding-top: 14px;
  padding-right: 26px;
  padding-bottom: 11px;
  padding-left: 12px;
  width: 210px;
  height: 60px;
  margin-top: 20px;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-left: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  cursor: pointer;
}

.home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-left .see-on-imdb svg {
  float: right;
  -webkit-transform: scale(1.7) translateX(10px) translateY(-2px);
          transform: scale(1.7) translateX(10px) translateY(-2px);
}

.home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-left .see-on-imdb:hover {
  background-color: black;
  -webkit-transform: scale(1.035);
          transform: scale(1.035);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-left .see-on-home {
  cursor: pointer;
  font-size: 1.65rem;
  font-weight: 600;
  color: white;
  letter-spacing: 1.2px;
  border: 1px solid #acacac;
  border-radius: 5px;
  padding: 7px;
  padding-top: 14px;
  padding-right: -10px;
  padding-bottom: 14px;
  padding-left: 12px;
  width: 270px;
  height: 60px;
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-left: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-left .see-on-home svg {
  -webkit-transform: scale(1.5) translateX(5px);
          transform: scale(1.5) translateX(5px);
}

.home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-left .see-on-home.see-on-netflix svg:hover {
  fill: white !important;
}

.home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-left .see-on-home:hover {
  background-color: black;
  -webkit-transform: scale(1.035);
          transform: scale(1.035);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-left .see-on-netflix {
  cursor: pointer;
  font-size: 1.65rem;
  font-weight: 600;
  color: white;
  letter-spacing: 1.2px;
  border: 1px solid #acacac;
  border-radius: 5px;
  padding: 7px;
  padding-top: 14px;
  padding-right: -10px;
  padding-bottom: 14px;
  padding-left: 12px;
  width: 220px;
  height: 60px;
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-left: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-left .see-on-netflix svg {
  -webkit-transform: scale(1.7) translateX(13px);
          transform: scale(1.7) translateX(13px);
}

.home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-left .see-on-netflix.see-on-netflix svg:hover {
  fill: white !important;
}

.home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-left .see-on-netflix:hover {
  background-color: black;
  -webkit-transform: scale(1.035);
          transform: scale(1.035);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: right wrap;
          flex-flow: right wrap;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  margin: 30px;
}

@media only screen and (min-width: 1249px) {
  .home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-right {
    margin-right: 100px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-right .current-time {
  font-size: 5rem;
  font-weight: normal;
  color: white;
  letter-spacing: 3px;
  margin-bottom: 10px;
  letter-spacing: normal;
}

.home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-right .expected-watching-time {
  font-size: 1.65rem;
  font-weight: 600;
  color: white;
  letter-spacing: 1.2px;
  text-align-last: right;
  line-height: 3rem;
}

.home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-right .expected-watching-time span {
  display: block;
  color: #f5e400;
}

.home-container .bottom-bar-wrapper .bottom-bar .bottom-bar-right .expected-watching-time span p {
  display: inline;
}

.home-container .contribute-on-github {
  position: absolute;
  top: 20px;
  left: 20px;
}
/*# sourceMappingURL=main.css.map */